{% extends "base.jinja2" %}

{% block navigation %}
<nav class="navigation">
  <a href="{{ url_for('public.index') }}">Home</a>
  <a href="{{ url_for('public.about') }}">About</a>
  <a href="{{ url_for('public.contact') }}">Contact</a>
  <a href="{{ url_for('dashboard.signin') }}">Sign-in</a>
  <a href="{{ url_for('dashboard.registration') }}">Register</a>
</nav>
{% endblock %}

{% block content %}
<section id="body">
  <h1>Welcome to our about page.</h1>
</section>
{% endblock %}
