{% extends "base.jinja2" %}

{% block content %}
    <div class="form-wrapper">
        <div class="logo">
            <img src="{{ url_for('static', filename="images/logo.png") }}" alt="flask-two logo">
        </div>
    </div>
    <h1>Welcome to your admin dashboard.</h1>
{% endblock %}