{% extends "base.jinja2" %}

{% block content %}
  <header>
    <div class="logo">
      <img src="{{ url_for('static', filename="images/logo.png") }}" alt="flask-two logo">
    </div>
    <nav class="navigation">
      <a href="{{ url_for('public.index') }}">Home</a>
      <a href="{{ url_for('public.about') }}">About</a>
      <a href="{{ url_for('public.contact') }}">Contact</a>
      <a href="{{ url_for('dashboard.signin') }}">Sign-in</a>
      <a href="{{ url_for('dashboard.registration') }}">Register</a>
    </nav>
    <div class="hamburger-menu">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </header>
  <section id="body">
    <h1>Welcome to our contact page.</h1>
  </section>

{% endblock %}
