{% extends "base.jinja2" %}

{% block navigation %}
<nav class="navigation">
  <a href="{{ url_for('dashboard.index') }}">User Dashboard</a>
  <a href="{{ url_for('dashboard.sign_out') }}">Log out</a>
</nav>
{% endblock %}

{% block content %}
<section id="body">
  <h1>Welcome to your user dashboard.</h1>
</section>
{% endblock %}