{% extends "base.jinja2" %}

{% block content %}
<header>
<div class="logo">
  <img src="{{ url_for('static', filename="images/logo.png") }}" alt="flask-two logo">
</div>
<nav class="navigation">
  <a href="/">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>
</nav>
<div class="hamburger-menu">
  <div></div>
  <div></div>
  <div></div>
</div>
</header>
<section id="body">
<div class="form-wrapper">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button
            type="button"
            class="close"
            data-dismiss="alert">
            x
        </button>
        {{ message }}
    </div>
    {% endfor %}
    <h1>Sign In</h1>
    <form method="POST" action="{{ url_for('dashboard.signin') }}">
        {{ form.csrf_token }}

        <fieldset class="email">
            {{ form.email.label }}
            {{ form.email(placeholder='enter@email.com') }}

            {% if form.email.errors %}
            <ul class="errors">
                {% for error in form.email.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <fieldset class="passwd">
            {{ form.passwd.label }}
            {{ form.passwd(placeholder='') }}

            {% if form.passwd.errors %}
            <ul class="errors">
                {% for error in form.passwd.errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </fieldset>

        <div class="submit-button">
            {{ form.submit }}
        </div>

        <div class="login-signup">
            <span>Need an account?</span>
            <a href="{{ url_for('dashboard.registration') }}">Register</a>
        </div>

    </form>

</div>
</section>

<script nonce="{{ csp_nonce() }}">
  // Add event listener to close button
  const closeButtons = document.querySelectorAll('.alert .close');
  closeButtons.forEach(function(button) {
    button.addEventListener('click', function() {
      this.parentElement.style.display = 'none';
    });
  });
</script>

{% endblock %}