body {
  background-color: #F2F2F2;
  font-family: Arial, sans-serif;
  margin: 3em auto;
  padding: 3em;
  line-height: 1.5;
}

.logo {
  position: absolute;
  top: 10px;
  left: 10px;
  max-width: 200px !important;
}

.navigation {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.navigation a {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}

.navigation a:hover {
  background-color: #eee;
}

.hamburger-menu {
  display: none;
}

.navigation.active {
  display: flex;
}

.content {
  margin: 0 auto;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px #ddd;
}

.form-wrapper input[type="email"],
.form-wrapper input[type="password"] {
  width: 100%;
  height: 60px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

.form-wrapper input[type="email"]:focus,
.form-wrapper input[type="password"]:focus {
  outline: none;
  border-color: #0077ff;
}

.email-input {
  width: 100%;
  height: 60px;
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
}

#submit {
  width: 100%;
  height: 60px;
  padding: 1rem;
  margin-top: 1rem;
  background-color: #0054a6;
  color: #fff !important;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit:hover {
  background-color: #004387;
}

.form-wrapper a {
  margin-top: 1rem;
  font-size: 0.9rem;
  text-decoration: underline;
  color: #0077ff;
}

@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }

  .csrf {
    visibility: hidden;
    display: none;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  /* Add styles for the active class */
  .navigation.active {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
    width: 200px;
    height: 100%;
    padding: 20px;
    box-shadow: 2px 2px 10px #ccc;
    border-radius: 10px;
  }

  .navigation a {
    display: block;
    margin: 10px 0;
    text-align: center;
  }

  .navigation a:hover {
    background-color: #eee;
  }

  .hamburger-menu div {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px;
  }
}
